@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap");

@mixin centerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin centerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

$app_green: #1d7d51;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

ul {
  list-style: none;
}
li {
  text-align: center;
}

// =======================

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./img/concert-background.png");

  background-size: 1600px 900px;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}

// Input

.input-container {
  margin-top: 150px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  input {
    width: 90%;
    border-radius: 25px;
    border: 3px solid $app_green;
    height: 50px;
    text-align: center;
    // box-shadow: 1px 1px 5px white;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 2px 2px 10px 5px black;
    &:focus {
      border: none;
      // box-shadow: 2px 2px 20px 5px rgb(34, 138, 103);
      box-shadow: 2px 2px 20px 5px $app_green;
      border: 2px solid black;
      outline: none;
    }
    &::placeholder {
      color: white;
      opacity: 1;
    }
    &:focus ~ button {
      border: none;
      // box-shadow: 2px 2px 20px 5px rgb(34, 138, 103);
      // box-shadow: 2px 2px 20px 5px $app_green;
      border: 2px solid black;
      outline: none;
    }
  }
  button {
    position: absolute;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 14px;
    background: transparent;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    border: 3px solid $app_green;
    &:focus {
      outline: none;
    }
  }
}

#btn-favorites-icon {
  z-index: 4;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  transition: all 0.3s ease;
  &:focus,
  &:active {
    transform: scale(0.7);
  }
}

// Favorites Modal
.favorites-modal-overlay {
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  @include centerColumn;
  .favorites-modal {
    @include centerColumn;
    border-radius: 40px;
    box-shadow: 2px 2px 30px 5px rgb(31, 30, 30);
    overflow: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-height: 600px;
    width: 90%;
    p {
      @include centerColumn;
      height: 200px;
      background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(12, 98, 59, 1) 0%,
        rgba(40, 113, 81, 1) 42%,
        rgba(26, 121, 78, 1) 55%,
        rgba(20, 150, 91, 0.7) 100%
      );
      margin: auto auto;
      text-align: center;
      font-size: 20px;
      padding: 20px;
      color: white;
    }
    .favorites-item:nth-child(2n) {
      background: rgba(25, 102, 67, 0.9);
    }
    .favorites-item:nth-child(3n + 1) {
      background: rgba(22, 90, 59, 0.9);
    }
    .favorites-item:nth-child(2n + 1) {
      background: rgba(29, 97, 68, 0.9);
    }
    .favorites-item {
      position: relative;
      padding: 20px 0px 20px 30px;
      display: flex;
      flex-direction: row;
      // justify-content: center;
      align-items: center;
      width: 100%;
      color: white;
      text-align: start;
      border-bottom: 1px solid black;
      &:hover {
        cursor: pointer;
      }
      span {
        width: 70%;
      }
      button {
        position: absolute;
        right: 30px;
        border: none;
        font-size: 40px;
        color: red;
        background: transparent;
      }
    }
  }
}

// Matched Bands Wrapper

.matched-bands-wrapper {
  z-index: 3;
  border-radius: 20px;
  width: 90%;
  color: white;
  overflow: hidden;
  margin: 7px auto;
  border: 1px solid rgb(51, 51, 51);
  box-shadow: 0 10px 50px 4px black;
  a {
    width: 100%;
    text-decoration: none;
    color: $app_green;
    // margin-top: 20px;
    background: rgb(214, 214, 214);
    border-bottom: 2px solid rgb(230, 230, 230);
    padding: 35px;
    height: 50px;
    @include centerColumn;
    &:hover {
      cursor: pointer;
    }
  }
}

// Band Events Wrapper

.band-events-wrapper {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  max-height: 450px;
  top: 35%;
  width: 100%;
  @include centerColumn;
  .band-events-list {
    margin-top: 20px;
    border-radius: 20px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow-y: scroll;
    box-shadow: 2px 2px 20px 5px black;
    .events-list-item:nth-child(2n) {
      background: rgba(25, 102, 67, 0.9);
    }
    .events-list-item:nth-child(3n + 1) {
      background: rgba(22, 90, 59, 0.9);
    }
    .events-list-item:nth-child(2n + 1) {
      background: rgba(29, 97, 68, 0.9);
    }
    .events-list-item {
      display: flex;
      flex-direction: row;
      color: white;
      align-items: center;
      padding: 10px 0px;
      margin: auto 0;
      width: 100%;
      min-height: 100px;
      text-align: left;

      .events-list-item-name {
        padding-left: 20px;
        width: 75%;
        font-size: 15px;
        &:hover {
          cursor: pointer;
        }
      }
      button {
        @include centerColumn;
        position: absolute;
        right: 10px;
        height: 30px;
        width: 60px;
        font-size: 8px;
        padding: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-height: 600px) {
  .band-events-wrapper {
    height: 200px;
    top: 40%;
  }
}

// Save Button

#save-btn {
  background: transparent;
  border: none;
  color: white;
  &::after {
    content: "♡";
    font-size: 18px;
  }
  &:focus {
    outline: none;
  }
}
#save-btn-active {
  background: transparent;
  border: none;
  color: red;
  &:focus {
    outline: none;
  }
  &::after {
    content: "♥️";
    font-size: 18px;
  }
}

// Event Info Modal

.event-info-modal-layout {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  .event-info-modal {
    text-align: center;
    border-radius: 40px;
    box-shadow: 2px 2px 30px 5px rgb(5, 5, 5);
    overflow: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-height: 800px;
    width: 90%;
    color: white;
    .event-info-modal-buttons {
      @include centerColumn;
      #event-info-modal-close-btn {
        width: 60%;
        height: 50px;
        margin: 50px 0px 50px 0px;
        border-radius: 20px;
        background: transparent;
        border: 3px solid $app_green;
        color: $app_green;
        font-weight: bold;
      }
      #save-btn,
      #save-btn-active {
        &::after {
          font-size: 30px;
        }
      }
    }
    .location {
      background: $app_green;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      width: 100%;
      margin: 15px 0;
      padding: 30px;
      h3,
      h4 {
        margin: 15px 0;
        p {
          color: gold;
          font-weight: bold;
          font-size: 18px;
        }
      }
      h3 {
        font-style: italic;
      }
    }
    .lineup {
      h2 {
        color: #ffd601;
        margin: 30px 0;
        font-weight: 900;
      }
      ul {
        margin: 50px 0;
      }
    }
    h1 {
      margin: 50px 0;
    }
    h3 {
    }
  }
}

// Loader

.loader {
  position: absolute;
  @include centerColumn;
  top: 15rem;
  left: 0;
  right: 0;
  width: 100%;
  color: black;
  .loader-circle {
    height: 130px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 1s forwards linear infinite;
  }
  .comments-count {
    padding: 1rem;
    font-size: 30px;
  }
  .spinner-section,
  .comments-count {
    padding: 1rem;
    @include centerColumn;
    width: 100%;
  }
}

@media (min-height: 801px) {
  .band-events-wrapper {
    max-height: 500px;
    // bottom: 10%;
  }
}

@media (min-height: 601px) and (max-height: 800px) {
  .band-events-wrapper {
    max-height: 300px;
    top: 30%;
  }
}

@media (max-height: 600px) {
  .band-events-wrapper {
    max-height: 400px;
  }
}

@media (orientation: landscape) {
  .favorites-modal-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    .favorites-modal {
      width: 60%;
      p {
        width: 100%;
        height: 400px;
      }
    }
  }
}

@media (orientation: landscape) and (max-width: 800px) {
  .band-events-wrapper {
    height: 100px;
    top: 60%;
  }
}

@media (min-width: 1200px) {
  .search-container {
    width: 100%;
    .input-container {
      width: 80%;
    }
  }
  .matched-bands-wrapper {
    width: 70%;
    li {
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
        transform: (translate(3px, 3px));
        box-shadow: 2px 2px 15px black;
      }
    }
  }
  .band-events-wrapper {
    top: 40%;
    max-height: 500px;
    width: 80%;
  }
  .event-info-modal-layout {
    .event-info-modal {
      .lineup {
        width: 100%;
        h2 {
          font-size: 30px;
        }
        ul {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          li {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

/* CSS Transition Group */

.fade-enter {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(200rem);
}

.fade-enter-active {
  opacity: 0.5;
  transition: all 0.3s ease;
  transform: translateX(100rem);
}
.fade-enter-done {
  opacity: 1;
  transition: all 0.3s ease;
  transform: translateX(0rem);
}

.fade-exit {
  opacity: 1;
  transform: translateX(0rem);
}
.fade-exit-active {
  transition: all 0.5s ease-in;
  transform: translateX(-200rem);
  opacity: 0.5;
}
.fade-exit-done {
  transition: all 0.5s ease-in;
  transform: translateX(-350rem);
  opacity: 0;
}

.scale-enter {
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0);
}

.scale-enter-active {
  transition: all 0.3s ease;
  transform: scale(0.5);
}
.scale-enter-done {
  opacity: 1;
  transition: all 0.3s ease;
  transform: scale(1);
}

.scale-exit {
  opacity: 1;
  transform: translateX(0rem);
}
.scale-exit-active {
  transition: all 0.5s ease-in;
  transform: translateX(-200rem);
  opacity: 0.5;
}
.scale-exit-done {
  transition: all 0.5s ease-in;
  transform: translateX(-350rem);
  opacity: 0;
}

.center {
  @include centerRow;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
