.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
input {
  margin-top: 100px;
  width: 30%;
  border-radius: 10px;
  height: 30px;
  text-align: center;
}

ul {
  height: auto;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  list-style: none;
}

li {
  text-align: center;
}

/* CSS Transition Group */

.fade-enter {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(200rem);
}

.fade-enter-active {
  opacity: 0.5;
  transition: all 0.3s ease;
  transform: translateX(100rem);
}
.fade-enter-done {
  opacity: 1;
  transition: all 0.3s ease;
  transform: translateX(0rem);
}

.fade-exit {
  opacity: 1;
  transform: translateX(0rem);
}
.fade-exit-active {
  transition: all 0.5s ease-in;
  transform: translateX(-200rem);
  opacity: 0.5;
}
.fade-exit-done {
  transition: all 0.5s ease-in;
  transform: translateX(-350rem);
  opacity: 0;
}
